<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservar Servicio - DinDog</title>
    <link href="/iconos/Logo_Dindog.svg" rel="shortcut icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="/stylesheet/reserva/nueva-reserva.css">
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body class="d-flex flex-column vh-100">
    <%- include('../partials/navbar') %>

    <div class="container my-5">
        <h2 class="text-center mb-4">Reservar Servicio</h2>
        <div class="card shadow-lg">
            <div class="card-body">
                <form id="reservaForm" action="/reservas/nueva/<%= cuidador._id %>" method="post">
                    <div class="row mb-3">
                        <div class="col-lg-6">
                            <label for="fechaInicio" class="form-label">Fecha de inicio</label>
                            <input type="date" id="fechaInicio" name="fechaInicio" class="form-control" required>
                        </div>
                        <div class="col-lg-6">
                            <label for="horaInicio" class="form-label">Hora de inicio</label>
                            <input type="time" id="horaInicio" name="horaInicio" class="form-control" required>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-lg-6">
                            <label for="fechaFin" class="form-label">Fecha de fin</label>
                            <input type="date" id="fechaFin" name="fechaFin" class="form-control" required>
                        </div>
                        <div class="col-lg-6">
                            <label for="horaFin" class="form-label">Hora de fin</label>
                            <input type="time" id="horaFin" name="horaFin" class="form-control" required>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-lg-6">
                            <label for="servicio" class="form-label">Tipo de Servicio</label>
                            <input type="text" id="servicio" name="servicioTipo" class="form-control" required>
                        </div>
                        <div class="col-lg-6">
                            <label for="precio" class="form-label">Precio del Servicio</label>
                            <input type="number" id="precio" name="precio" class="form-control" required>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="especificaciones" class="form-label">Especificaciones</label>
                        <textarea id="especificaciones" name="especificaciones" class="form-control" rows="5" placeholder="Escribe un mensaje para el cuidador..." required></textarea>
                    </div>

                    <div class="mb-3">
                        <label for="cardholder-name" class="form-label">Nombre del Titular de la Tarjeta</label>
                        <input type="text" id="cardholder-name" class="form-control" required>
                    </div>

                    <div id="card-element" class="form-control mb-3">
                        <!-- Tarjeta Stripe-->
                    </div>
                    <div id="card-errors" role="alert"></div>

                    <input type="hidden" name="token" />
                    
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary btn-lg">Enviar solicitud de reserva</button>
                    </div>
                </form>
                <div id="form-errors" class="alert alert-danger mt-3" style="display: none;"></div>
            </div>
        </div>
    </div>

    <%- include('../partials/footer') %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script>
const stripe = Stripe(process.env.STRIPE_PUBLIC_KEY);
const elements = stripe.elements();
const style = {
    base: {
        color: "#32325d",
    },
};

const card = elements.create('card', {style: style});
card.mount('#card-element');

card.addEventListener('change', function(event) {
    const displayError = document.getElementById('card-errors');
    if (event.error) {
        displayError.textContent = event.error.message;
    } else {
        displayError.textContent = '';
    }
});

const form = document.getElementById('reservaForm');
const fechaInicio = document.getElementById('fechaInicio');
const fechaFin = document.getElementById('fechaFin');
const horaInicio = document.getElementById('horaInicio');
const horaFin = document.getElementById('horaFin');
const formErrors = document.getElementById('form-errors');

const hoy = new Date().toISOString().split('T')[0];
fechaInicio.setAttribute('min', hoy);
fechaFin.setAttribute('min', hoy);

form.addEventListener('submit', function(event) {
    event.preventDefault();

    const fechaInicioValue = new Date(fechaInicio.value);
    const fechaFinValue = new Date(fechaFin.value);
    const horaInicioValue = horaInicio.value;
    const horaFinValue = horaFin.value;
    const ahora = new Date();

    if (fechaInicioValue < ahora || fechaFinValue < ahora) {
        formErrors.textContent = 'Las fechas no pueden ser en el pasado.';
        formErrors.style.display = 'block';
        return;
    }

    if (fechaFinValue < fechaInicioValue || (fechaFinValue.getTime() === fechaInicioValue.getTime() && horaFinValue <= horaInicioValue)) {
        formErrors.textContent = 'La fecha y hora de fin deben ser posteriores a la fecha y hora de inicio.';
        formErrors.style.display = 'block';
        return;
    }

    const cardholderName = document.getElementById('cardholder-name').value;

    stripe.createToken(card, {
        name: cardholderName,
    }).then(function(result) {
        if (result.error) {
            const errorElement = document.getElementById('card-errors');
            errorElement.textContent = result.error.message;
        } else {
            document.querySelector('input[name="token"]').value = result.token.id;

            form.submit(); // Submitting the form here after token is created
        }
    });
});


    </script>
</body>
</html>
