<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuidadores de Mascota - Dindog</title>
    <link href="/iconos/Logo_Dindog.svg" rel="shortcut icon">
    <link href="/stylesheet/paginaPrincipal.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>

  <%- include('partials/navbar') %>

        <section class="header">
            <div class="text-container">
                <p id="headerPrimerParrafo">
                    ¿Quieres darle a tu mascota lo que necesita?
                    
                  </p>

                  <p id="headerSegundoParrafo">
                    ¡Tenemos la solución!
                  </p>
        
                
                
                <div class="enlacesHeader">
                  <a id="contactanos" href="/contacto" class="btn btn-custom">Contáctanos</a>
                  <a id="funcionar" href="/comoFunciona" class="btn btn-custom">¿Como funciona?</a>
                </div>
            
            </div>        
            <img src="/imgs/irish-setter-dog-close-up.webp" alt="imagen perrito">
        
        </section>

        <section class="servicios1">
          
          <div class="textoServicios1">
            <h3>Los servicios personalizados que necesita tu mascota</h3>
            <p>¡Desde cuidadores de mascotas hasta residencias caninas</p>
            <a href="#" class="btn btn-custom">Contáctanos por Correo</a>
            //mailto:contacto@dindog.site
          </div>

          <img src="/imgs/Servicios1.png">


        </section>

        <section class="porqueDindog">
            <img src="/imgs/porqueDindog.png" alt="fotoMascota">

            <div class="textoPorque">
                <p id="primerTextoPorque">Dindog</p>

                <h2>¿Por qué Dindog?</h2>

                <p>Te ayudamos a equilibrar tu vida laboral y <br> personal con las necesidades de tu <br> compañero peludo.</p>

                <p>Nos guiamos por la confianza y la seguridad.</p>

                <a href="/sobreNosotros" class="btn btn-custom">Conocenós Más</a>
            </div>
        </section>

        <section class="servicios2">
          
          <div class="izquierda">
            <img src="/imgs/Servicios2.png">
            <h3>Conoce nuestros servicios</h3>
            <p>Solo un click para mejorar el bienestar de tu mascota</p>
            <a href="/login" class="btn btn-custom">Sign up nows</a>
          </div>

          <div class="derecha">
            <h4>Peluquería para mascotas</h4>
            <p>Llevamos a tu mascota a la peluqeria por ti</p>
            <hr>
            <h4>Residencia para mascotas</h4>
            <p>Nosotros le buscamos alojamiento a tu mascota</p>
            <hr>
            <h4>Dinos qué necesitas y nosotros te lo llevamos</h4>
            <p>Pide cualquier artículo para mascotas, y te lo llevamos a casa</p>
            <hr>
            <h4>Contacto con cuidadores</h4>
            <p>Si tienes dificultadres para pasear a tu mascota o brindarle cualquier otro cuidado, te ponemos en contacto con cuidadores</p>
            <hr>
          </div>
        </section>

        <section class="registro">
          <div class="text-registro">
            <h2>!Empieza hoy <br>con Dindog!</h2>
            <p>Mejora el bienestar de tu mascota desde hoy.</p>
            <a href="/rolRegistro" class="btn btn-custom">Registrarme</a>
          </div>

          <img src="/imgs/huellaRegistro.png" alt="Huella de perro en tierra">

        </section>

        <%- include('partials/footer') %>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>